.drop-area-block1,.drop-area-block2{
    position: absolute;
    width: 80px;
    height: 82px;
}
.draggable-items{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.draggable-items .draggable-item{
    position:relative;
}
.draggable-items .draggable-item img{
    pointer-events:none;
}
.draggable-item.disabled{
    cursor:default;
}
.drop-area .draggable-item{
    position: relative;
    width: 53.3px;
    height: 54.66px;
    display:inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 53.3px;
}
.activity-question-option{
    border-radius: 6px;
	border:solid 4px #cecece;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background:#FFF;
    position:absolute;
    width: 58px;
    height: 58px;
    cursor:pointer;
    text-align: center;
    line-height: 48px;
}

.activity-question-option:not(.selected).disabled{
   display:none;
}
.activity-question-option.selected{
	border:solid 4px #1e8508;
	box-shadow: none;
}
.activity-question-option.disabled{
    cursor:default;
}
.correct-answer,.wrong-answer{
    display:none;
}
.check-answer{
    text-transform: none !important;
}
.button-block {
    display: inline-block;
    margin-top: 8px;
    width: 60%;
}

.lrn_correct{
    border-left: solid #65a00d;
    background: #ebf6e7;
}
.lrn_correct::after {
    position: absolute;
    background-image: url('../../fv_common/images/Global_Correct.png') !important;
    background-size: 50px 50px !important;
    content: "";
    width: 50px;
    height: 50px;
    top: 55px;
    left: calc(50% - -500.5px);
}

.lrn_incorrect {
    border-left: solid #e14747;
    background: #fbe3e3;
}
.activity-slide[data-slide='2'] .lrn_incorrect::after {
    position: absolute;
    background-image: url('../../fv_common/images/Global_Incorrect.png');
    background-size: 50px 50px;
    content: "";
    width: 50px;
    height: 50px;
    top: 55px;
    left: calc(50% - -500.5px);
}

.activity-slide[data-slide='3'] .lrn_correct::after {
    position: absolute;
    background-image: url('../../fv_common/images/Global_Correct.png') !important;
    background-size: 20px 20px !important;
    content: "";
    width: 20px;
    height: 20px;
    top: -45px;
    left: calc(50% - -146.5px);
}

.my-mat {
    display: inline-block;
    width: 385px;
    height: 61px;

    position: relative;
    top: 3px;

    border-style: solid;
    background-color: ghostwhite;
}

.thumb {
    position:relative;
    text-align: center;
    color: black;
    width:125px;
    float: left;
    padding: 0px;
}
.thumb span {
    position: absolute;
    bottom: 8px;
    left: 12px;
    top:60px;
}

.q1 .understanding-overlay {
    display: inline-block;
    position: relative;
}
.q1 .lrn_response_wrapper {
    margin-top: 0 !important;
}
.q1 .lrn_widget {
    margin-bottom: 0 !important;
}
