.lrn_correct{
    border-left: solid #65a00d;
    background: #ebf6e7;
}
.lrn_correct::after {
  position: absolute;
  background-image: url('../../fv_common/images/Global_Correct.png') !important;
  background-size: 50px 50px !important;
  content: "";
  width: 50px !important;
  height: 50px !important;
  top: 60px !important;
  right: 5% !important;
}

.lrn_incorrect {
    border-left: solid #e14747;
    background: #fbe3e3;
}
.lrn_incorrect::after {
   position: absolute;
   background-image: url('../../fv_common/images/Global_Incorrect.png');
   background-size: 50px 50px;
   content: "";
   width: 50px;
   height: 50px;
   top: 60px;
   right: 5%;
 }

.drop-area-block1{
    position: absolute;
    width: 64px;
    height: 50px;
}
.drop-area-block3{
    position: absolute;
    height: 95px;
    width: 60px;
}
.drop-area-block2,.drop-area-block4{
    position: absolute;
    width: 413px;
    height: 42.67px;
}
.draggable-item{
    position:relative;
    display: inline-block;
}
.drop-area-block1 .draggable-item,
.drop-area-block3 .draggable-item .placed {
    position:absolute;
    top:0px;
    left:0px;
}
.drop-area-block2 .draggable-item,
.drop-area-block4 .draggable-item {
    position:relative;
    margin-right:1px;
    left: 2.5px;
    top: 2.5px;
}
.draggable-item img{
    pointer-events:none;
}
.draggable-item.disabled{
    cursor:default;
}

.draggable-items {
    display: inline-block;
    margin-top:10px;
    position:relative;
    text-align:center;
    width: 30%;
}

.button-block {
    display: inline-block;
    margin-top: 10px;
    width: 60%;
}
