
<div class="activity-content-area">
    <div class="row activity-row">

        <!-- Left Side -->
        <div class="col-sm-6" style="width:416px;height:auto;">
            <p class="main_question">Build an array to model 12.</p>

            <div class="imgcol-sm-6" style="width:400px;height:400px;">
                <div class="activity-slide dd" data-slide="2" style="position: absolute; bottom:65px">
                    <div class="understanding-overlay" style="width: 344px; height: 340px;"></div>
                    <canvas id="myCanvas" width="324" height="324" tabindex="0"></canvas>
                    <img id="counterImg" src="../fv_common/images/bilm_counter_yellow.png"
                         alt="a drawing of a yellow counter."
                         style="visibility:hidden; width:0px; height:0px;">
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-sm-6 text-left" style="left:30px; margin-top:30px;">

            <div class="scrollpane">

                <!-- STEP 2 AREA -->
                <div class="activity-slide" data-slide="2" data-after="hide"
                     style=" margin-top:150px; position:relative; padding: 10px">

                    <div class="button-block">
                        <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Show Me</span>
                        </button>
                    </div>
                </div>


                <!-- STEP3 AREA-->
                <div class="activity-slide" data-slide="3" data-after="show">
                    <div>

                        <!-- 1 rows,  12 columns   -->
                        <div class="learn_1_12">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_1_12"></span>
                            </div>
                            <div class="answer">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_1_12a"></span>
                            </div>
                        </div>

                        <!-- 2 rows,  6 columns   -->
                        <div class="learn_2_6">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_6"></span>
                            </div>
                            <div class="answer">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_7"></span>
                            </div>
                        </div>

                        <!-- 3 rows,  4 columns   -->
                        <div class="learn_3_4">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_4"></span>
                            </div>
                            <div class="answer">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_5"></span>
                            </div>
                        </div>

                        <!-- 4 rows,  3 columns   -->
                        <div class="learn_4_3">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_1"></span>
                            </div>
                            <div class="answer correct">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_2"></span>
                            </div>
                        </div>

                        <!-- 6 rows,  2 columns   -->
                        <div class="learn_6_2">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_8"></span>
                            </div>
                            <div class="answer">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_9"></span>
                            </div>
                        </div>

                        <!-- 12 rows,  1 columns   -->
                        <div class="learn_12_1">
                            <div class="question">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_12_1"></span>
                            </div>
                            <div class="answer">
                                <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_12_1a"></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="activity-slide" data-slide="3" data-after="hide">
                    <div class="button-block">
                        <button class="btn btn-secondary btn-check" id="check_btn2" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn2" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn2" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i>
                            <span>Show Me</span>
                        </button>
                    </div>
                </div>


                <!-- STEP 4 AREA -->
                <div class="activity-slide" data-slide="4" data-after="show">
                    <div style="margin-top:0px; position:relative; padding: 0px 20px 0px 0px; margin-left: 0px;">
                        <span class="learnosity-item" data-reference="19NA03_c04s01_exp1_int_exploration_3"></span>
                    </div>
                </div>
                <div class="activity-slide" data-slide="4" data-after="hide">
                    <div align="right" class="save-button-block">
                        <button class="btn btn-primary btn-save saveBtn" tabindex="0"
                                aria-label="A save button">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
