
<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA03_c04s01_exgr_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA03_c04s01_exgr_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA03_c04s01_exgr_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA03_c04s01_exgr_04.mp3"></audio>
</div>

<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA03_c04s01_exgr_01_es.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA03_c04s01_exgr_02_es.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA03_c04s01_exgr_03_es.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA03_c04s01_exgr_04_es.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">Build an array to model twelve.</div>
    <div class="slide-audio" data-slide="2">Drag the counter to make an array.</div>
    <div class="slide-audio" data-slide="3">How many rows are in your array? How many counters are in each row?</div>
    <div class="slide-audio" data-slide="4">Compare your array with your partner's array. How are they the same? How are they different?</div>
    <div class="slide-audio" data-slide="5"></div>
</div>
