.preview-header{
	margin-top: 8%;
  text-align: center;
  font-family: Signika;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: normal;
  color: #ED6E6E;
	font-style: normal;
  font-stretch: normal
}

.preview-header-bottom-row{
	margin-top: 25%;
	font-size: 36px;
}