<div class="activity-content-area">
    <div class="row activity-row">
        <div class="col-sm-12" style="margin:auto;">

            <!-- Slide 1 -->
            <div class="activity-slide" data-slide="1" data-after="show">
                <div style="width:85%; height:auto; line-height:30px; margin:0 auto; margin-bottom:5px;">
                    <span>Use counters to model the problem.</span><br/>
                    <span>Newton has 5 treats. Descartes has 2 fewer treats than Newton.</span><br/>
                    <span>How many treats does Descartes have?</span>
                </div>
            </div>
            <div class="activity-slide" data-slide="1" data-after="hide">
                <div style="position:relative; width:50%; margin:auto;">
                    <div style="display:inline-block; width:207.5px;">
                        <img src="images/19NA01_c03_s04_exp1_int_exploration_1.png"
                             alt="A brown dog named Newton."
                             width="207.5" height="236">
                        <div style="text-align:center;">Newton</div>
                    </div>
                    <div style="display:inline-block; width:177.5px;">
                        <img src="images/19NA01_c03_s04_exp1_int_exploration_2.png"
                             alt="An orange cat named Descartes."
                             width="177.5" height="232">
                        <div style="text-align:center;">Descartes</div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="activity-slide" data-slide="2" data-after="show">
                <div>
                    <!-- Drop Area Containers -->
                    <div class="understanding-overlay big-icon right-align"
                         style="display:inline-block; position:relative;">

                        <div class="dog" style="margin: 10px; height: 84px">
                            <div style="position:relative;">
                                <div class="thumb">
                                    <img src="images/19NA01_c03_s04_exp1_int_exploration_1.png"
                                         alt="A brown dog named Newton."
                                         width="53" height="64">
                                    <span class="bottom-left">Newton</span>
                                </div>
                                <div class="drop-area1 drop-area my-mat" tabindex="0"></div>
                            </div>
                        </div>

                        <div class="cat" style="margin: 10px; margin-top: 10px; height: 84px;">
                            <div style="position:relative;">
                                <div class="thumb">
                                    <img src="images/19NA01_c03_s04_exp1_int_exploration_2.png"
                                         alt="An orange cat named Descartes."
                                         width="53" height="64">
                                    <span class="bottom-left">Descartes</span>
                                </div>
                                <div class="drop-area2 drop-area my-mat" tabindex="0"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Drag Counter-->
                    <div class="activity-slide" data-slide="2" data-after="hide"
                         style="display:inline-block; vertical-align:top; width:50px; height:185px;">
                        <div class="draggable-items">
                            <div class="draggable-item" tabindex="0">
                                <img src="images/bilm_counter_red.svg" alt="A drawing of a red counter."
                                     width="43.3" height="43.3" class="img-fluid d-block">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Block -->
                <div class="activity-slide" data-slide="2" data-after="hide">
                    <div class="button-block" style="margin-left:136px">
                        <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i><span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i><span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                                aria-label="A next button with a forward arrow">
                            <i class="icon"></i><span>Show Me</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="third" style="margin-left: 65px;">
                <div class="activity-slide" data-slide="3" data-after="hide">
                    <div class="question1 q1" style="margin-left: -44px;">
                        <span class="learnosity-item" data-reference="19NA01_c03s05_exp1_int_exploration_1"></span>
                    </div>
                </div>
                <div class="activity-slide" data-slide="3" data-after="show">
                    <div class="answer1 q1" style="margin-left: -44px;">
                        <span class="learnosity-item" data-reference="19NA01_c03s05_exp1_int_exploration_1a"></span>
                    </div>
                </div>

                <div class="activity-slide" data-slide="3" data-after="hide">
                    <div class="button-block">
                        <button class="btn btn-secondary btn-check" id="check_btn3" tabindex="0"
                                aria-label="A check answer button">
                            <i class="icon"></i>
                            <span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn3" tabindex="0"
                                aria-label="A try again button">
                            <i class="icon"></i>
                            <span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn3" tabindex="0"
                                aria-label="A show the answer button">
                            <i class="icon"></i>
                            <span>Show Me</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
