<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA01_c03_s05_exp1_int_exploration_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA01_c03_s05_exp1_int_exploration_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA01_c03_s05_exp1_int_exploration_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA01_c03_s05_exp1_int_exploration_04.mp3"></audio>
</div>
<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA01_c03_s05_exp1_int_exploration_01_es.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA01_c03_s05_exp1_int_exploration_02_es.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA01_c03_s05_exp1_int_exploration_03_es.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA01_c03_s05_exp1_int_exploration_04_es.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">Newton has 5 treats. Descartes has 2 fewer treats than Newton. How many treats does Descartes have?</div>
    <div class="slide-audio" data-slide="2">Use the counters to show how many treats the dog and the cat have.</div>
    <div class="slide-audio" data-slide="3">Fill in the number of treats Descartes has.</div>
    <div class="slide-audio" data-slide="4">How did modeling help you solve the problem?</div>
    <div class="slide-audio" data-slide="5"></div>
</div>
