html,body{
    height:100%;
    background-image: radial-gradient(circle at 50% 61%, #ffffff, #faf4e8);

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.activity-start-screen .start-btn {
    background-image: url('../../fv_plugins/bootstrap/images/k-5/play-button-new.png');
    background-size: 228px 228px;
    width: 228px;
    height: 228px;
}

.nav-area {
    pointer-events: none;
    position: fixed;
    bottom: 142px;
    left: 50%
}

.nav-area > * {
    pointer-events: all;
    left: -50%;
}

.activity-container{
    /*width: 1024px;*/
    margin: 0 auto;
    /*height: 575px;*/
    height:100%;
    position:relative;
    padding-bottom:142px;
}
.activity{
    position:relative;
    height:100%;
    z-index:1;
    background-color: #f9f4e7;
}
.activity-wrapper{
    /*padding:24px 76px 0px 76px;*/
    padding: 0;

    height: 100%;
    position:relative;
    display:none;

    /*width:1024px;*/
    width: 870px;

    margin: 0 auto;
}
.activity-content-area{

    position:relative;
    height:inherit;
    height:100%;
}
.activity-navigation{
    /*position: absolute;*/
    bottom: 0px;
    left: 0px;
    right: 0px;

    position: fixed;
}
.activity-navigation-container{
    height:60px;
    /*margin:0px 76px;*/
    position:relative;

    margin: 0 15px;
}
.activity-navigation-container .activity-navigation-container-left-elements{
    position:absolute;
    bottom:8px;
    left:0px;
    height:48px;
}

.activity-navigation-container-left-elements .btn-playpause {
    margin-left: 20px;
}

.activity-navigation-container .activity-navigation-container-right-elements{
    position:absolute;
    bottom:8px;
    right:0px;
    height:48px;
}
.activity-navigation-container .btn{
    vertical-align: top;
}
.activity-audio-caption{
    height:82px;
    background:#dcf0ff;
    color:#000;
    /*padding:15px 76px;*/
    display:none;
    position: relative;

}
.activity-audio-caption .slide-audio{
    height:82px;
    padding:15px;
    overflow-y:auto;
}

.activity-slide{
    display:none;
}
.slide-audio{
    display: none;
}
.activity-row{
    padding:10px 8px;
}

.scroll-height {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.repeated-reasoning:before {
    content: "";
    display: inline-block;
    background-image: url('../images/MP_large.png');
    background-size: 30px 33px;
    width: 30px;
    height: 33px;
}

.repeated-reasoning {
    color: red;
}

.loader {
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);

    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #5cb85c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
