/* Text styles */

h1 {
    font-family: SourceSansPro;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
}

h2 {
    font-family: Muli;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

h3 {
    font-family: Muli;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

h5 {
    font-family: Muli;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
}

p {
    font-family: Muli;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    text-align: left;
}

link {
    font-family: Muli;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.lrn_widget .lrn_response_math .MathJax {
    font-size: 22px !important;
}

/* Red Yellow Counter mat style.*/
.counter-mat {
    background-color: #FFFFFF;
    border: 2px solid black;
    border-radius: 8px;

    /* Default to the .large mat size */
    width: 385px;
    height: 200px;
}
.counter-mat.large {
    width: 385px;
    height: 200px;
}

/* Tens, Ones unit block mat style */
.drop-mat {
    background-color: rgba(0, 255, 255, 0.06);
    border: 1px solid rgba(153, 153, 153, 0.77);
    border-radius: 8px;

    /* Defaults to .large mat size. */
    width: 400px;
    height: 265px;
}
.drop-mat.large {
    width: 400px;
    height: 265px;
}
.drop-mat.small {
    width: 220px;
    height: 220px;
}

.activity-start-screen{
    position:absolute;
    top:0px;
    left:0px;
    bottom:80px;
    right:0px;
    background:url('../../fv_plugins/bootstrap/images/k-5/group-44.png') #d7eeff;
    z-index: 1001;
}
.activity-start-screen a.start-btn{
    position:absolute;
    top:50%;
    left:50%;
    width:228px;
    height:228px;
    margin-left:-114px;
    margin-top:-114px;
    display:block;
    box-shadow: 0 6px 0 rgba(0,0,0,.1);
    border-radius: 50%;
    /*background:url('../../fv_plugins/bootstrap/images/k-5/play-button-new.png');*/
}



.language-toggle {
    min-width: 97px;
    background: #F3F3F3;
    display: table;
    border-radius: 10px;
    font-family: SourceSansPro-Bold, Source Sans Pro;
    font-weight: 700;
    font-size: 14px;
    float: left;
    margin-top: 7px;
    margin-right: 20px;
    text-transform: uppercase
}
.language-toggle.open {
    margin-top: -21px
}
.language-toggle .option {
    border-radius: 7px;
    min-height: 26px;
    cursor: pointer;
    margin: 2px;
    display: none;
    line-height: 26px;
    text-align:center;
}
.language-toggle.open .option {
    display: block;

}
.language-toggle .option.active {
    background: #fff;
    display: block
}


.th-k-5 .language-toggle {
    background: #1e8508;
    color: #fff
}
.th-k-5 .language-toggle .option.active {
    background: #fff;
    color: #1e8508;
}

.th-k-5 .btn-check {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5px 0 #d8d8d8;
    border: solid 2px #1eaa00;
}
.th-k-5 .btn-check > span {
    position: absolute;
    left: 35px;
    top: 2px;

    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: center;
    color: #1e8508;
}

.th-k-5 .btn-show-me {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5px 0 #d8d8d8;
    border: solid 2px #1eaa00;
}
.th-k-5 .btn-show-me > span {
    position: absolute;
    left: 25px;
    top: 2px;

    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: center;
    color: #1e8508;
}

.th-k-5 .btn-try-again {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5px 0 #d8d8d8;
    border: solid 2px #1eaa00;
}
.th-k-5 .btn-try-again > span {
    position: absolute;
    left: 22px;
    top: 2px;

    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: center;
    color: #1e8508;
}


.th-k-5 .btn-break {
    width: 123px;
}
.th-k-5 .btn-break {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5px 0 #d8d8d8;
    border: solid 2px #1eaa00;
}
.th-k-5 .btn-break > span {
    /*position: absolute;*/
    /*left: 35px;*/
    /*top: 2px;*/

    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: center;
    color: #1e8508;
}

.th-k-5 .btn-combine {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0 0 5px 0 #d8d8d8;
    border: solid 2px #1eaa00;
}
.th-k-5 .btn-combine > span {
    /*position: absolute;*/
    /*left: 35px;*/
    /*top: 2px;*/

    font-family: Signika;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.2;
    letter-spacing: normal;
    text-align: center;
    color: #1e8508;
}

.th-6-8 .captions:before, .th-k-5 .captions:before {
    content: '';
    position: absolute;
    top: -30px;
    left: 200px;
    border: 15px solid transparent;
    border-bottom: 15px solid #f5f3f3;
}
.th-k-5 .captions:before {
    border-bottom: 15px solid #dcf0ff;
}

.slide-border.active-border{
    border:dashed 2px #cecece;
    border-radius: 4px;
}
img.slide-border{
    padding:2px;
}
img.slide-border.active-border{
    padding:0px;
}
.btn-audio-caption,.btn-reset,.btn-playpause,.btn-next,.btn-done{
    display:none;
}

.nav-block {
  position: absolute;
  left: 43%;
  bottom: 10px;
}

.structure-text {
    color: red;
    font-weight: bold;
}
.structure-text:before {
    content: "";
    background-image: url('../images/MP_large.png') !important;
    background-size: 30px 30px !important;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.lrn {
    font-family: 'Muli', sans-serif !important;
    font-size: 22px !important;
    font-weight: 600 !important;
}

.lrn-wysihtml-toolbar,
.lrn_word_count,
.lrn_word_limit,
.lrn_texteditor button {
    font-size: 14px !important;
}

.lrn_btn.lrn_validate{
    font-family: 'Signika', sans-serif;
    text-transform: capitalize !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    border-radius: 11px !important;
    position: relative !important;

    background: linear-gradient(to bottom, #20b700, #1e8508) !important;
    line-height: 44px !important;
    height: 44px !important;

    padding-left: 22px !important;
    padding-right: 22px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;

    border: none !important;
    margin-bottom: 4px !important;
    color: #fff !important;
    letter-spacing:.15rem !important;
    box-shadow: 0px 4px 0px #d9d9d9 !important;
}
.lrn_btn.lrn_validate[disabled]{
    opacity: 1.0 !important;
}

.lrn_btn.lrn_validate.disabled{
    background: #d8d8d8 !important;
    color: #fff !important;
    box-shadow: none !important;
    outline: none !important;
}
.lrn_btn.lrn_validate.disabled:active{
    margin-top: 0px !important;
    box-shadow: none !important;
}

.lrn_stimulus_content {
    /*font-family: 'PT Serif', sans-serif;*/
    font-family: Muli, sans-serif;
    font-size: 22px;
    color: black;
}

.lrn_response_math {
    font-family: Muli, sans-serif !important;
}

.lrn_not_attempted {
    background-color: transparent !important;
}

/**
 Learnosity Validation Styles
 */
.lrn_correct {
    border: none !important;
    background: transparent !important;
}
.lrn_correct::after {
    border: none !important;
    background: transparent !important;
}
.lrn_widget .lrn-response-validate-wrapper.lrn_correct:after {
    background: transparent !important;
    content: none !important;
}

.lrn_incorrect {
    border: none !important;
    background: transparent !important;
}
.lrn_incorrect::after {
    /*content: none !important;*/
}
.lrn_textinput.lrn_incorrect::after {
    /*content: none !important;*/
}
.lrn_widget .lrn-response-validate-wrapper.lrn_incorrect:after {
    background: transparent !important;
    content: none !important;
}

/* Override learnosity correct icon */
.lrn_widget .lrn_textinput.lrn_correct:after {
    content: "" !important;
    background-image: url("../images/Global_Correct.png") !important;
    background-size: 20px 20px !important;
    width: 20px;
    height: 20px;
}

.lrn_widget .lrn_response.lrn_cloze .lrn_response_input.lrn_response_font_boost {
    font-size: 22px !important;
}
.lrn_cloze.lrn_cloze_vertical_top_none .lrn_response_input {
    line-height: 2em !important;
}

.lrn_texteditor .lrn_toolbar {
    min-height: 0;
}
.lrn_texteditor .lrn_length_indicator {
    line-height: 1.25em !important;
}

/* Global correct icon */
.big-correct:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 25%;
    background-image: url("../images/Global_Correct.png") !important;
    background-size: 100px 100px !important;
    width: 100px;
    height: 100px;
}
.small-correct:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 25%;
    background-image: url("../images/Global_Correct.png") !important;
    background-size: 50px 50px !important;
    width: 50px;
    height: 50px;
}
.mock-lrn-correct:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 0;
    background-image: url("../images/Global_Correct.png") !important;
    background-size: 20px 20px !important;
    width: 20px;
    height: 20px;
}

/* Global incorrect icon */
.big-incorrect:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 25%;
    background-image: url("../images/Global_Incorrect.png") !important;
    background-size: 100px 100px !important;
    width: 100px;
    height: 100px;
}
.small-incorrect:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 25%;
    background-image: url("../images/Global_Incorrect.png") !important;
    background-size: 50px 50px !important;
    width: 50px;
    height: 50px;
}
.mock-lrn-incorrect:after {
    content: "" !important;
    position: absolute;
    left: 110%;
    top: 0;
    background-image: url("../images/Global_Incorrect.png") !important;
    background-size: 20px 20px !important;
    width: 20px;
    height: 20px;
}

.small-correct.left:after,
.small-incorrect.left:after {
    left: -50px;
}

/* Global correct icon */
.correct:after {
    content: "" !important;
    background-image: url("../images/Global_Correct.png") !important;
}

/* Global incorrect icon */
.incorrect:after {
    content: "" !important;
    background-image: url("../images/Global_Incorrect.png") !important;
}

/* Global small icon */
.small-icon:after {
    background-size: 20px 20px !important;
    width: 20px;
    height: 20px;
}

/* Global large icon */
.big-icon:after {
    background-size: 50px 50px !important;
    width: 50px;
    height: 50px;
}

/* Global icon right placement */
.right-align:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.small-icon.right-align:after {
    right: -30px;
}
.big-icon.right-align:after {
    right: -60px;
}

/* Global icon bottom placement */
.bottom-align:after {
    position: absolute;
    right: 0%;
}
.small-icon.bottom-align:after {
    bottom: -30px;
}
.big-icon.bottom-align:after {
    bottom: -60px;
}

/* Math Quill CSS */
.mq-math-mode * {
    font-family: Muli, sans-serif !important;
    font-size: 22px !important;
    font-weight: 600;
}

.no-background {
    border: none !important;
    background: transparent !important;
}
