.svgImg {
  min-height: 100px;
  max-height: 150px;
}

.pngImg {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  text-align: center;
  display: block;
}
.spaced {
  padding: 10px;
  text-align: center;
}

input[type="image"]{
  padding: 5px;
}

.problemStmt {
  font-size: 115%;
}

.workArea {
  overflow: auto;
  padding: 5px;
}

.leftCol {
  overflow: auto;
}

button.lrn_btn.lrn_validate {
	display: none;
}

#footer #nav-section-wrapper-move .footer-control.playback-control.disabled {
  background: linear-gradient(to bottom, #a0a0a0, #757575);
}

@media only screen and (max-width: 2000px) {
    .lrn {
    	font-size: 22px!important;
    }
}
@media only screen and (max-width: 1200px) {
    .lrn {
    	font-size: 18px!important;
    }
}
@media only screen and (max-width: 800px) {
    .lrn {
    	font-size: 16px!important;
    }
}