#stem.fixed {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0pt auto;
    z-index: 999;
    background-color: #fff;
    overflow: auto;
    padding-top: 5px;
    /*border: 3px solid #848181;
  border-radius: 10px;*/
    border: 1px solid #848181;
    margin-bottom: .25em;
}

.screen {

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: .25em;
}

#workArea.fixed {
    position: relative;
    text-align: center;
}

input[type="image"] {
    padding: 5px;
}


/*Pasting from devtools lrn edits lrn_widget*/


/*
.learnosity-item.lrn{
    border: 3px solid #848181;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    background-color: lightgoldenrodyellow;
    margin-bottom: .25em;
  background-image: url("../images/group-44@3x.png");
background-repeat: repeat;
background-color: #ccee88 ;
}*/


/*end pasting*/



.spaced {
    padding: 0px 10px!important;
    text-align: center;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
		z-index: 9999;
		margin-left: -15px;
}

#footer .nav-btn-row {
    height: 70px;
    background: radial-gradient(circle at 50% 61%, #ffffff, #faf4e8);
    min-width: 800px !important;
		text-align: center;
		margin-right: -15px;
}

#footer .screen {
    position: relative;
}

#footer #nav-section-wrapper-lang {
    width: 250px;
    float: left;
}

#footer #nav-section-wrapper-lang #lang-opts {
    border-radius: 10px;
    font-family: SourceSansPro-Bold, Source Sans Pro;
    font-weight: 700;
    font-size: 14px;
    float: left;
    margin-top: 20px;
    text-transform: uppercase;
    height: 34px;
    width: 93px;
    overflow: hidden;
    position: absolute;
    margin-left: 15px;
    background-color: #1e8508;
}

#footer #nav-section-wrapper-lang #lang-opts.expanded {
    height: 60px;
    top: -30px;
}

#footer #nav-section-wrapper-lang #lang-opts .lang-option {
	/*
    border-radius: 107px;
    cursor: pointer;
    line-height: 25px;
    height: 26px;
    width: 93px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
		background: #1e8508;
		*/
		border-radius: 7px;
		min-height: 26px;
		cursor: pointer;
		margin: 2px;
		
		line-height: 26px;
		text-align: center;
		background: #1e8508;
}

#footer #nav-section-wrapper-lang #lang-opts .lang-option.lang-selected {
    border: 2px solid #F3F3F3;
    background: #fff;
}

#footer #nav-section-wrapper-lang #audio-opts {
    min-width: 120px !important;
    margin-left: 100px;
}

#footer #nav-section-wrapper-lang #audio-opts #control-image-sound {
    /* margin-top: 16px; */
    /* margin-left: -32px; */
    left: 130px;
    top: 15px;
    position: absolute;
    width: 54px;
    height: 45px;
    padding-right: 1px;
}

#footer #nav-section-wrapper-lang #audio-opts #control-image-caption {
    margin-top: 10px;
		width: 47px;
		height: 56px;
		position: fixed;
		margin-left: 28px;
}

#footer #nav-section-wrapper-lang #audio-opts #control-image-caption.deselected {
    opacity: 0.25;
}

#footer .footer-control {
    cursor: pointer;
}

#footer #nav-section-wrapper-move {
    display: inline-block;
    position: absolute;
    width: 437px;
     margin-left: -150px; 
    left: 42%;
    text-transform: uppercase;
}

#footer #nav-section-wrapper-move .playback-control {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    height: 45px;
    width: 105px;
    background: linear-gradient(to bottom, #20b700, #1e8508);
    box-shadow: 0px 4px 0px #d9d9d9;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 46px;
    font-size: 18px;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 700;
}

#footer #nav-section-wrapper-move .playback-control:first-of-type {
    margin-left: -20px;
}

#footer #nav-section-wrapper-move .playback-control.disabled {
    background-color: lightgrey;
    box-shadow: 0 0 0 0;
    height: 50px;
    line-height: 48px;
    cursor: not-allowed;
}

#footer #nav-section-wrapper-move .playback-control i {
    padding-right: 5px;
    font-size: 30px;
}

#footer #nav-section-wrapper-move .playback-control:active:not(.finished):not(.disabled) {
    box-shadow: 0 0 0 0;
    top: 3px;
    height: 43px;
}

#footer #nav-section-wrapper-move #back-button {
  display:none;
    text-align: center;
}

#footer #nav-section-wrapper-move #back-button i {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 5px;
}

#footer #nav-section-wrapper-move #back-button span {
    font-size: 18px;
    margin-right: 20px;
}

#footer #nav-section-wrapper-move #playback-button {
    width: 50px;
    margin-left: 7px;
}

#footer #nav-section-wrapper-move #playback-button #playback-icon {
    margin-left: 5px;
    font-size: 20px !important;
    margin-top: 12px;
}

#footer #nav-section-wrapper-move #next-button {
    margin-left: 10px;
}

#footer #nav-section-wrapper-move #next-button #next-button-text {
    font-size: 18px;
    margin-left: 20px;
}

#footer #nav-section-wrapper-move #next-button.done #next-button-text {
    margin-left: 5px;
}

#footer #nav-section-wrapper-move #next-button.finished #next-button-text {
    margin-left: 0px;
}

#footer #nav-section-wrapper-move #next-button #next-button-icon {
    font-size: 30px;
    /* padding-left: 5px; */
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

#footer #nav-section-wrapper-move #next-button #next-button-icon.fa-check {
    font-size: 23px;
}

#footer #nav-section-wrapper-move #next-button #next-button-icon.fa-exclamation {
    font-size: 20px;
    margin-top: 12px;
}

#footer #nav-section-wrapper-move #next-button.finished {
    cursor: default;
    color: #fff;
    font-size: 18px;
    background-color: #d8d8d8;
    background-image:none;
    font-family: SourceSansPrso-Bold, Source Sans Pro;
    font-weight: 700;
    box-shadow: 0 0 0 0;
}

#footer #nav-section-wrapper-move #next-button.finished #next-button-icon {
    margin-right: 0px;
    padding-left: 0;
}

#footer #nav-section-wrapper-move #next-button.flashy {
    box-shadow: 0 0 15px 3px #ec4067;
}

#nav-section-wrapper-action {
    width: 120px;
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

#nav-section-wrapper-action #goToStartBtn-container {
	display: inline-block;
  width: 34px;
  float: right;
  margin-top: -6px;
}

#nav-section-wrapper-action #goToEndBtn-container {
    float: right;
    display:none;
}

#captions {
    background: #dcf0ff;
    position: relative;
    display: none;
    z-index: 1000;
    width: 100%;
		height: 82px;
  	padding: 15px;
		overflow-y: auto;
		font-family: 'Muli', sans-serif;
  	font-size: 22px;
  	font-weight: 600;
  	line-height: 1.63;
  	text-align: left;
}

div>#caption-pointer {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #dcf0ff;
    top: -7px;
    left: 180px;
    transform: rotateZ(45deg);
    z-index: -1;
}

body {
    /*background-image: url("../images/group-44@3x.png");
    background-repeat: repeat;
    background-color: #ddeeff;*/
    background-image: radial-gradient(circle at 50% 61%, rgb(255, 255, 255), rgb(250, 244, 232))!important;
}

.hidden {
    visibility: hidden;
}

.goto-disabled {
    opacity: 0.25;
    cursor: not-allowed !important;
}

.lrn{

	/*padding-top: 55px;*/
	margin-top: 10px;
}

.lrn table {
    background-color: white;
}

.screen img {
    /*border:1px solid black;*/
}

@media only screen and (max-width: 2000px) {
    #stem,
    .lrn,
    p {
        font-size: 22px!important;
        margin: 0px;
    }
    .audio-play {
        max-width: 26px!important;
        max-height: 26px!important;
    }
}

@media only screen and (max-width: 1200px) {
    #stem,
    .lrn,
    p {
        font-size: 18px!important;
        margin: 0px;
    }
    .audio-play {
        max-width: 22px!important;
        max-height: 22px!important;
    }
}

@media only screen and (max-width: 800px) {
    #stem,
    .lrn,
    p {
        font-size: 16px!important;
        margin: 0px;
    }
    .audio-play {
        max-width: 20px!important;
        max-height: 20px!important;
    }
}


/*prevent <p> line breaks after speaker image */

.audio-play {
    float: left;
}


/*  commented out for passages with images BIL_19NA06_c03s01_exp2_scr_final_v2*/

.lrn p {
    float: left;
}

.lrn table {
    background-color: white!important;
    border: 2px solid black!important;
}

.lrn p+p {
    clear: both;
}


.lrn_stimulus{
	margin-bottom: 15px;
}

.lrn_stimulus img {
    margin: 0px!important;
}

.lrn_toolbar,
.lrn_texteditor {
    font-size: 16px!important;
}

.lrn_response_wrapper,
.lrn_question {
    margin: 0px!important;
}

.lrn_response_input_wrapper {
    margin-top: 3px!important;
}

#leftCol {
    background-color: transparent;
    /*border: 3px solid #848181;
    border-radius: 10px;*/
    /*border: 1px solid #848181;*/
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    margin-top: 5px;
}

#rightCol {
    background-color: white;
    /*border: 3px solid #848181;
    border-radius: 10px;*/
    border: 1px solid #848181;
    position: sticky;
    top: 0;
    right: 0;
    margin-top: 5px;
    z-index: 99;
}

.container{
	background-color: #f9f4e7;
	height: 100%;
	padding-bottom: 142px;
}


@media (min-width: 860px) {
    .container {
        width: 870px!important;
    }
}

@media (min-width: 1000px){
  .container{
    width: 100%!important;
  }
}



/*SHOW ME, CHECK ANSWER, and TRY AGAIN*/

.chk-ans-btn{
	position: absolute;
}
.btn-secondary{
	min-width: 100px;
	cursor: pointer;
	font-family: Signika;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: normal;
  text-align: center;
	color: #1e8508;
	border-radius: 10px;
  background-color: #ffffff;
  box-shadow: inset 0 0 5px 0 #d8d8d8;
	border: solid 2px #1eaa00;
	margin-right: 20px;
	height: 40px;

}

.btn-secondary > span {
	padding-left: 5px;
}


.btn-secondary.btn-try-again{

	z-index: 1000;
	margin-left: 125px;
	margin-top: 15px;
	font-size: 16px !important;
}

.btn-secondary.btn-show-me{
	z-index: 1000;
	margin-left: 25px;
	margin-top: 15px;
	font-size: 16px !important;
}


.btn-try-again>img,.btn-show-me>img {
	margin-top: -5px;
}


.btn-secondary.disabled{
	background : rgba(75,75,75,0.2);
	cursor: not-allowed;

}

.chk-ans-btn{
	margin-top: 15px;
	z-index:1000;
}