.answer .lrn_math_renderer_processed {
    padding: 15px 13px;
}

.big-correct:after,
.big-incorrect:after {
    /* Override Size */
    background-size: 50px 50px !important;
    width: 50px;
    height: 50px;

    /* Set Position */
    left: 65%;
    top: calc(50% - 50px);
}

.button-block {
    display: inline-block;
    position: relative;
}

.construct-arguments {
    color: #ff0000;
    font-weight: bold;
}

.check-block1 {
    position: absolute;
    left: 15px;
    top: 340px;

    display: inline-block;
    width: 100%;
}
.check-block2 {
    display: inline-block;
    width: 49%;
}

.enter-value1 {
    width: 1em;
    height: 1em;
}

.hideElement{
    visibility: hidden;
    display: none;
}

.mar_left{
    margin-left: 50px;
}

.part1, .part3, .part4{
    padding: 25px;
}

.scrollpane {
    width: 886px;
    padding: 0px 10px 0px 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.small-correct:after{
    left: 96%;
    top: 25%;
}


/*
 Learnosity Overrides
 */
.lrn .table>tbody>tr>td{
    border-top: none!important;
    padding:0px !important;
    vertical-align: baseline !important;
}

.lrn_cloze_response {
    padding: 10px;
}

.lrn_widget.lrn_simpleshading .lrn_response_wrapper {
    margin: 1em 0 !important;
}

.lrn_widget.lrn_qr.lrn_clozeformula .lrn_response_wrapper{
    margin-top: 0px!important;
}
.lrn_widget{
    padding-top: 0px !important;
}

.lrn_response_math {
    font-size: 1.8em !important;
}

.lrn_widget .lrn_response_math .MathJax {
    font-size: 1.8em !important;
}
