<div class="activity-content-area" style="height: 100%">
    <div class="row activity-row" style="height: 100%">

        <!-- Top Row -->
        <div class="col-sm-12">
            <div class="activity-slide" data-slide="1" data-after="show">
                <div class="main_question">
                    <p>
                        <span class="activity-slide" data-slide="1" data-after="show">
                            Model 24 × 3.</span>
                        <span class="activity-slide" data-slide="3" data-after="show">
                            Then find the product.</span>
                    </p>
                </div>

                <div class="activity-slide" data-slide="5" data-after="show">
                    <div class="main_question2">
                        <p>
                            <span class="structure-text">Precision </span>
                            <span>Use a model to find 15 × 8.</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Left Side -->
        <div class="col-sm-6 will-scroll">

            <!-- Slide 2 -->
            <div class="activity-slide left" data-slide="2" data-after="show">
                <div class="drag-area">
                    <div class="drop-area1 drop-area">
                        <div class="drop-area-block1 drop-area-block big-icon right-align"
                             data-drop-left="2"
                             data-drop-top="2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-slide left" data-slide="2" data-after="hide">
                <div class="drag-bin drag-bin1 draggable-items">
                    <div class="draggable-item tens-unit" tabindex="0">
                        <img src="../fv_common/images/tens_vertical.png"
                             alt="Tens block."
                             height="125"
                             class="img-fluid d-block">
                    </div>
                    <div class="draggable-item ones-unit" tabindex="0">
                        <img src="../fv_common/images/cube_blue.png"
                             alt="Ones block."
                             width="25" height="25"
                             class="img-fluid d-block">
                    </div>
                </div>
            </div>

            <!-- Slide 5 -->
            <div class="activity-slide left" data-slide="5" data-after="show">
                <div class="drag-area">
                    <div class="drop-area2 drop-area">
                        <div class="drop-area-block2 drop-area-block big-icon right-align"
                             data-drop-left="2"
                             data-drop-top="2">
                        </div>
                    </div>
                </div>
                <div class="activity-slide left" data-slide="5" data-after="hide">
                    <div class="drag-bin drag-bin2 draggable-items">
                        <div class="draggable-item hundreds-unit" tabindex="0">
                            <img src="../fv_common/images/hundreds.png"
                                 alt="Hundreds block."
                                 height="125"
                                 class="img-fluid d-block">
                        </div>
                        <div class="draggable-item tens-unit" tabindex="0">
                            <img src="../fv_common/images/tens_vertical.png"
                                 alt="Tens block."
                                 height="125"
                                 class="img-fluid d-block">
                        </div>
                        <div class="draggable-item ones-unit" tabindex="0">
                            <img src="../fv_common/images/cube_blue.png"
                                 alt="Ones block."
                                 height="25"
                                 class="img-fluid d-block">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="activity-slide" data-slide="2" data-after="hide">
                <div class="check-block check-block1">
                    <button class="btn btn-secondary btn-check" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>

            <!-- Slide 5 -->
            <div class="activity-slide" data-slide="5" data-after="hide">
                <div class="check-block check-block1">
                    <button class="btn btn-secondary btn-check" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="col-sm-6 text-left will-scroll right-side"
             style="overflow-x:hidden; overflow-y:auto; display:none;">

            <!-- Slide 3 -->
            <div class="activity-slide right" data-slide="3" data-after="hide">
                <div class="question question1">
                    <span class="learnosity-item"
                          data-reference="19NA04_c03s07_exp_int_exploration_01"></span>
                </div>
            </div>
            <div class="activity-slide right" data-slide="3" data-after="show">
                <div class="answer answer1">
                        <span class="learnosity-item"
                              data-reference="19NA04_c03s07_exp_int_exploration_01a"></span>
                </div>
            </div>
            <div class="activity-slide" data-slide="3" data-after="hide">
                <div class="check-block check-block2">
                    <button class="btn btn-secondary btn-check" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>

            <!-- Slide 4 -->
            <div class="activity-slide right" data-slide="4" data-after="hide">
                <div style="height:240px; padding-right:3px;">
                    <div class="question question2">
                        <span class="learnosity-item"
                              data-reference="19NA04_c03s07_exp_int_exploration_02"></span>
                    </div>
                    <div align="right">
                        <button class="btn btn-primary btn-save saveBtn" tabindex="0"
                                aria-label="A save button">
                            Save
                        </button>
                    </div>
                </div>
            </div>

            <!-- Slide 6 -->
            <div class="activity-slide right" data-slide="6" data-after="show">
                <div class="question question3">
                    <span class="learnosity-item"
                          data-reference="19NA04_c03s07_exp_int_exploration_03"></span>
                </div>
                <div class="answer answer3">
                    <span class="learnosity-item"
                          data-reference="19NA04_c03s07_exp_int_exploration_03a"></span>
                </div>
            </div>
            <div class="activity-slide" data-slide="6" data-after="show">
                <div class="check-block check-block4">
                    <button class="btn btn-secondary btn-check" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
