
<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA04_c03s07_exp1_int_exploration_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA04_c03s07_exp1_int_exploration_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA04_c03s07_exp1_int_exploration_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA04_c03s07_exp1_int_exploration_04.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA04_c03s07_exp1_int_exploration_05.mp3"></audio>
    <audio class="activity-audio" data-slide="6" src="audio/19NA04_c03s07_exp1_int_exploration_06.mp3"></audio>
</div>
<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA04_c03s07_exp1_int_exploration_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA04_c03s07_exp1_int_exploration_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA04_c03s07_exp1_int_exploration_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA04_c03s07_exp1_int_exploration_04.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA04_c03s07_exp1_int_exploration_05.mp3"></audio>
    <audio class="activity-audio" data-slide="6" src="audio/19NA04_c03s07_exp1_int_exploration_06.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">Model 24 × 3.</div>
    <div class="slide-audio" data-slide="2">Drag and drop to show your model.</div>
    <div class="slide-audio" data-slide="3">Use the model to find the product.</div>
    <div class="slide-audio" data-slide="4">How did you use regrouping to find the product?</div>
    <div class="slide-audio" data-slide="5">Use a model to find 15 × 8.</div>
    <div class="slide-audio" data-slide="6">Use the model to find the product.</div>
</div>
