
<div class="activity-content-area">
    <div class="row activity-row">

        <div class="col-sm-6" style="width:416px;height:auto;">
            <img src="images/elek_pe_0401_000.png"
                 alt="A drawing of some envelopes and mail boxes. Count the envelopes. Envelope, envelope, envelope, envelope, envelope, envelope, envelope. Count the mail boxes. Mail box, mail box, mail box, mail box."
                 class="slide-border main-img d-block"
                 width="374" height="304">
        </div>

        <div class="col-sm-6 text-left">
            <div class="activity-slide" data-slide="2" data-after="show">
                <div style="margin-top:60px; position:relative; padding: 10px">
                    <div class="understanding-overlay"
                         style="position: absolute; width: 105%; height: 100%; left: 0px; top: 0px; z-index: -1;">
                    </div>
                    <!--
                        src="images/bilmk_exp_c04s01_001.png"
                        width="413"
                        height="46"
                    -->
                    <img src="../fv_common/images/elek_pe_0401_001.png"
                         alt="A bar divided into ten equal parts."
                         class="slide-border d-block"
                         width="397.5" height="41">
                    <div class="drop-area2 drop-area">
                        <div class="drop-area-block2 drop-area-block"
                             style="top:10px; left:10px;"
                             data-drop-left="2"
                             data-drop-top="2">
                        </div>
                    </div>
                </div>
            </div>

            <div class="activity-slide" data-slide="2" data-after="hide">
                <div class="draggable-items">
                    <div class="draggable-item" tabindex="0">
                        <img src="../fv_common/images/cube_yellow.png"
                             alt="A drawing of a yellow cube."
                             width="38.5" height="35"
                             class="img-fluid d-block">
                    </div>
                </div>
                <div class="button-block">
                    <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                            aria-label="A check answer button with a check mark">
                        <i class="icon"></i><span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                            aria-label="A try again button with a backward arrow">
                        <i class="icon"></i><span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                            aria-label="A show answer button with a question mark">
                        <i class="icon"></i><span>Show Me</span>
                    </button>
                </div>
            </div>

            <div class="activity-slide" data-slide="3" data-after="show">
                <div style="margin-top:85px; position:relative; padding: 10px">
                    <div class="understanding-overlay"
                         style="position: absolute; width: 105%; height: 100%; left: 0px; top: 0px; z-index: -1;">
                    </div>
                    <!-- "images/bilmk_exp_c04s01_001.png" -->
                    <img src="../fv_common/images/elek_pe_0401_001.png"
                         alt="A bar divided into ten equal parts."
                         class="slide-border d-block"
                         width="397.5" height="41">
                    <div class="drop-area4 drop-area">
                        <div class="drop-area-block4 drop-area-block"
                             style="top:10px; left:10px;"
                             data-drop-left="2"
                             data-drop-top="2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="activity-slide" data-slide="3" data-after="hide">
                <div class="draggable-items">
                    <div class="draggable-item" tabindex="0">
                        <img src="../fv_common/images/cube_red.png"
                             alt="A drawing of a red cube."
                             width="38.5" height="35"
                             class="img-fluid d-block">
                    </div>
                </div>

                <div class="button-block">
                    <button class="btn btn-secondary btn-check" id="check_btn_2" tabindex="0"
                            aria-label="A check answer button with a check mark">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" id="try_btn_2" tabindex="0"
                            aria-label="A try again button with a backward arrow">
                        <i class="icon"></i><span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" id="show_btn_2" tabindex="0"
                            aria-label="A show answer button with a question mark">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
