
<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA00_c04s01_exgr_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA00_c04s01_exgr_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA00_c04s01_exgr_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA00_c04s01_exgr_04.mp3"></audio>
</div>

<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA00_c04s01_exgr_01_es.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA00_c04s01_exgr_02_es.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA00_c04s01_exgr_03_es.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA00_c04s01_exgr_04_es.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">Compare the number of letters to the number of mailboxes.</div>
    <div class="slide-audio" data-slide="2">Drag yellow cubes to the grid to show the number of letters.</div>
    <div class="slide-audio" data-slide="3">Drag red cubes to the second grid to show the number of mailboxes.</div>
    <div class="slide-audio" data-slide="4">Which group has more? Which group has less? How do you know?</div>
    <div class="slide-audio" data-slide="5"></div>
</div>
