.lrn_correct{
    border-left: solid #65a00d;
    background: #ebf6e7;
}
.lrn_incorrect {
    border-left: solid #e14747;
    background: #fbe3e3;
}

.lrn_widget .lrn_textinput.lrn_correct:after {
  background-image: url('../../fv_common/images/Global_Correct.png') !important;
  background-size: 20px 20px !important;
  content: "" !important;
  width: 20px !important;
  height: 20px !important;
}

.drop-area-block1{
    position: absolute;
    left: 15px;
    top: 65px;
}

.drag-bin {
    position:relative;
    display: inline-block;
    margin-top:10px;
    text-align:center;
    width: 49%;
}

.check-block1 {
    position: absolute;
    left: 15px;
    top: 350px;

    display: inline-block;
    width: 100%;
}
.check-block2 {
    display: inline-block;
    width: 49%;
}

.enter-value1 {
    width: 2.5em;
    height: 1.5em;
}

.question1 {
    display: inline-block;
    margin-top:10px;
    position:relative;
    text-align:center;
    width: 49%;
}

.understanding-overlay {
  position: relative;
  width: 420px;
  height: 295px;
  left: -10px;
  top: -10px;
  z-index: -1;
}
.understanding-overlay.lrn_correct::after {
  position: absolute;
  background-image: url('../../fv_common/images/Global_Correct.png') !important;
  background-size: 50px 50px !important;
  content: "";
  width: 50px;
  height: 50px;
  top: 40%;
  right: -50px;
}
.understanding-overlay.lrn_incorrect::after {
  position: absolute;
  background-image: url('../../fv_common/images/Global_Incorrect.png');
  background-size: 50px 50px;
  content: "";
  width: 50px;
  height: 50px;
  top: 40%;
  right: -50px;
}

.understanding-overlay.small-icon {
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
}

.drop-area-block3{
    position: absolute;
    height: 95px;
    width: 60px;
}
.drop-area-block2,.drop-area-block4{
    position: absolute;
    width: 413px;
    height: 42.67px;
}
.draggable-item{
    position:relative;
    display: inline-block;
}
.drop-area-block1 .draggable-item,.drop-area-block3 .draggable-item{
    position:absolute;
    top:0px;
    left:0px;
}
.drop-area-block2 .draggable-item,.drop-area-block4 .draggable-item{
    position:relative;
    margin-right:1px;
    left: 2.5px !important;
    top: 2.5px !important;
}
.draggable-item img{
    pointer-events:none;
}
.draggable-item.disabled{
    cursor:default;
}

.big-correct::after {
    left: 125px !important;
    top: 68px !important;
    background-size: 20px 20px !important;
    width: 20px !important;
    height: 20px !important;
}
