*:focus {
    outline: 2px solid #ec971f;
}

.lrn_correct{
    border-left: solid #65a00d;
    background: #ebf6e7;
}

.lrn_incorrect {
    border-left: solid #e14747;
    background: #fbe3e3;
}

.mock-lrn-correct:after{
  /*  left: 31% !important;
    top: 5px !important;*/

    left: 34% !important;
    top: 49px !important;
}

.drop-area-block1,
.drop-area-block2{
    position: absolute;
    left: 15px;
    /*top: 55px;*/
    width: 400px;
    height: 275px;

    background-color: rgba(0, 255, 255, 0.06);
    border: 1px solid rgba(153, 153, 153, 0.77);
    border-radius: 8px;

    top: 0px;
}


.drag-bin {
    /*margin-top: 80px;*/
    width: 49%;

    position: relative;
    left: 416px;
}

.drag-bin > * {
    float: left;
    margin-right: 20px;
}

.check-block {
    margin-left: 50px;
}

.check-block1 {
    position: absolute;
    left: 15px;
    /*top: 340px;*/

    display: inline-block;
    width: 100%;

    top: 287px;
}
.check-block2 {
    display: inline-block;
   /* width: 49%;*/
    width: 60%;
}


.enter-value1 {
    width: 2.5em;
    height: 1.5em;
}

/*.question1 {
    display: inline-block;
    margin-top:10px;
    position:relative;
    text-align:center;
}*/

.understanding-overlay {
    position: relative;
    z-index: -1;
}

.drop-area-block3{
    position: absolute;
    height: 95px;
    width: 60px;
}
/*.drop-area-block2,.drop-area-block4{
    position: absolute;
    width: 413px;
    height: 42.67px;
}*/
.draggable-item{
    position:relative;
    display: inline-block;
}
.drop-area-block1 .draggable-item,.drop-area-block2 .draggable-item{
    position:absolute;
    top:0px;
    left:0px;
}
/*.drop-area-block2 .draggable-item,.drop-area-block4 .draggable-item{
    position:relative;
    margin-right:1px;
    left: 2.5px !important;
    top: 2.5px !important;
}*/
.draggable-item img{
    pointer-events:none;
}
.draggable-item.disabled{
    cursor:default;
}

.pvb-table {
    margin-top: 48px !important;
    position: absolute;
    width: 400px;
    right: 0;
}

.question1 table {
    background-position-x: 158px;
}

.answer1 table {
    position: relative;
    top: 6px;
    left: 16px;
    width: inherit !important;
}

/*.question .col-xs-12,
.question .lrn_response_wrapper,
.question p,
.question .lrn {
    padding: 0 !important;
    margin: 0 !important;
}*/
.lrn p{
    margin: 0px !important;
}

.float-right {
    float: right;
}

.big-correct.inside:after,
.big-incorrect.inside:after {
    /*left: 25% !important;*/
    left: 104% !important;
}

.big-incorrect:after,
.big-correct:after{
    background-size: 50px 50px !important;
    width: 50px !important;
    height: 50px!important;
}

.bottom {
    margin-top: 304px;
    margin-bottom: 44px;
}

.btn-save {
  /*  float: right;
    margin-right: 30px;*/
}

.hideElement{
    display: none !important;
}
