
.understanding-overlay.lrn_correct::after {
  position: absolute;
  background-image: url('../../fv_common/images/Global_Correct.png') !important;
  background-size: 50px 50px !important;
  content: "";
  width: 50px;
  height: 50px;
  top: 40%;
  right: -50px;
}
.understanding-overlay.lrn_incorrect::after {
  position: absolute;
  background-image: url('../../fv_common/images/Global_Incorrect.png');
  background-size: 50px 50px;
  content: "";
  width: 50px;
  height: 50px;
  top: 40%;
  right: -50px;
}

.drop-area-block1{
    position: absolute;
    width: 64px;
    height: 50px;
}
.drop-area-block3{
    position: absolute;
    height: 95px;
    width: 60px;
}
.drop-area-block2,.drop-area-block4{
    position: absolute;
    width: 413px;
    height: 42.67px;
}
.draggable-item{
    position:relative;
    display: inline-block;
}
.drop-area-block1 .draggable-item,.drop-area-block3 .draggable-item{
    position:absolute;
    top:0px;
    left:0px;
}
.drop-area-block2 .draggable-item,.drop-area-block4 .draggable-item{
    position:relative;
    margin-right:1px;
    left: 2.5px !important;
    top: 2.5px !important;
}
.draggable-item img{
    pointer-events:none;
}
.draggable-item.disabled{
    cursor:default;
}
.drag{
    border-style: solid;
    border-width: 3px;
}


#myCanvas {
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 8px;
}

.scrollpane {
    height: 390px;
    overflow-x: hidden;
    overflow-y: auto;
}

.understanding-overlay {
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: -1;
}

.activity-slide[data-slide='3'] {
    /*position:relative;*/
    /*margin-left: 30px;*/
    /*margin-top:-45px;*/
    /*padding: 10px;*/
}

.button-block {
    display: inline-block;
    width: 60%;
}

.save-button-block {
    display: inline-block;
    width: 85%;
    margin-left: 30px;
}
.btn-save {
    /*position:absolute;*/
    right:0px;
}

.big-correct::after {
    left: 275px !important;
    top: 10px !important;
    background-size: 40px 40px !important;
    width: 40px !important;
    height: 40px !important;
}

/**
 * Learnosity Style Overwrites.
 */
.lrn_correct{
    border-left: solid #65a00d;
    background: #ebf6e7;
}

.lrn_incorrect {
    border-left: solid #e14747;
    background: #fbe3e3;
}
.lrn .lrn_btn.lrn_validate{
    background: linear-gradient(to bottom, #20b700, #1e8508);
    line-height: 40px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 0px !important;
    padding-bottom:  0px !important;
    border: none;
    margin-bottom: 4px;
    color: #fff;
    letter-spacing:.15rem;
    box-shadow: 0px 4px 0px #d9d9d9;
    font-weight: bold !important;
    font-size: 20px !important;
    border-radius: 11px;
}
.lrn_widget.lrn_qr.lrn_clozeformula .lrn_response_wrapper {
    margin-top: 0px !important;
}
.lrn_widget .lrn_response.lrn_cloze:not(.lrn_formulaV2) .lrn_response_input p {
    line-height: normal !important;
}
