<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600i,700,700i,900,900i" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link href="../bil-assets/css/template.css" rel="stylesheet" />
<script src="../bil-assets/js/exploration.js"></script>

<footer id="footer">
    <div class="nav-btn-row">
        <div id="nav-section-wrapper-lang" class="nav-section-wrapper">
            <div id="lang-opts">
                <div id="lang-select-en" class="lang-option lang-selected" data-lang_id="es"> English</div>
                <div id="lang-select-es" class="lang-option lang-hidden" data-lang_id="en"> Español</div>
            </div>
            <div id="audio-opts">
                <img class="footer-control audio-control-opt control-image" id="control-image-sound" src="../bil-assets/images/k-5-sound.svg" data-value="on" />
                <img class="footer-control audio-control-opt control-image hidden" id="control-image-caption" src="../bil-assets/images/k-5-audio-text.svg" data-value="off" />
            </div>
        </div>


        <div id="nav-section-wrapper-move" class="nav-section-wrapper hidden">
            <div class="footer-control playback-control" id="back-button" value="back" style="display:none"> <i id="back-button-icon" class="fa fa-chevron-left" aria-hidden="true"></i><span id="back-button-text">Back</span></div>

            <div class="footer-control playback-control" id="playback-button" data-value="pause"> <i id="playback-icon" class="fa fa-play" aria-hidden="true"></i> </div>
            <div class="footer-control playback-control" id="next-button" value="next"> <span id="next-button-text">Next</span><i id="next-button-icon" class="fa fa-chevron-right" aria-hidden="true"></i></div>
        </div>


        <div id="nav-section-wrapper-action" class="nav-section-wrapper hidden">
            <div id="goToStartBtn-container">
                <img class="footer-control control-image nav-control" id="go-to-start-button" src="../bil-assets/images/k-5-refresh.svg" value="goToStart " />
            </div>
            <!--<div id="goToEndBtn-container">
                <img class="footer-control control-image nav-control " id="go-to-end-button" src="../../images/show-all.png " value="goToEnd " />
            </div>-->
        </div>
    </div>
    <div class="" id="captions">
        <div id="caption-pointer"></div>
        <div id="captionText"></div>
    </div>
</footer>