<div class="activity-content-area">
    <div class="row activity-row">
        <div class="scrollpane">

            <div class="col-sm-10">
                <!-- Slide 1 -->
                <div class="activity-slide left" data-slide="1" data-after="show" style="margin-bottom: 10px;">
                    Use the model to find the sum.
                </div>
            </div>

            <div class="col-sm-12">
                <!-- Slide 1 -->
                <div class="main_question mar_left">
                    <div class="activity-slide left" data-slide="1" data-after="show">
                    <span class="learnosity-item"
                          data-reference="19NA05_c08_s06_exp1_int_exploration_00"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mar_left">
                <div style="display: inline-block; /*width:370px;*/">

                    <!-- Slide 3 -->
                    <div class="activity-slide" data-slide="3" data-after="hide">
                        <div class="question1">
                    <span class="learnosity-item"
                          data-reference="19NA05_c08_s06_exp1_int_exploration_02"></span>
                        </div>
                    </div>
                    <div class="activity-slide" data-slide="3" data-after="show">
                        <div class="answer1 small-icon right-align" style="position: relative;">
                    <span class="learnosity-item"
                          data-reference="19NA05_c08_s06_exp1_int_exploration_02a"></span>
                        </div>
                    </div>
                </div>
                <div class="activity-slide" data-slide="3" data-after="hide" style="display: inline-block">
                    <div class="button-block" style="top: -36px;">
                        <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                                aria-label="A check answer button">
                            <i class="icon"></i>
                            <span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                                aria-label="A try again button">
                            <i class="icon"></i>
                            <span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                                aria-label="A show the answer button">
                            <i class="icon"></i>
                            <span>Show Me</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-sm-10">
                <!-- Slide 2 -->
                <div class="activity-slide left" data-slide="2" data-after="show">
                    <div class="question">
                        <span class="learnosity-item"
                              data-reference="19NA05_c08_s06_exp1_int_exploration_01"></span>
                    </div>
                </div>
                <div class="activity-slide left" data-slide="2" data-after="show">
                    <div class="answer">
                        <span class="learnosity-item"
                              data-reference="19NA05_c08_s06_exp1_int_exploration_01a"></span>
                    </div>
                </div>
                <div class="activity-slide" data-slide="2" data-after="hide">
                    <div class="button-block" style="left:15%;">
                        <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                                aria-label="A check answer button">
                            <i class="icon"></i>
                            <span>Check</span>
                        </button>
                        <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                                aria-label="A try again button">
                            <i class="icon"></i>
                            <span>Try Again</span>
                        </button>
                        <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                                aria-label="A show the answer button">
                            <i class="icon"></i>
                            <span>Show Me</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="" style="width: 850px;">
                <div class="essay1" style="width: 420px; float: left;">
                    <!-- Slide 4 -->
                    <div class="activity-slide" data-slide="4" data-after="show" style=" padding-top: 47px;">
                        <span class="learnosity-item"
                              data-reference="19NA05_c08_s06_exp1_int_exploration_03">
                        </span>
                        <div class="activity-slide" data-slide="4" data-after="hide">
                            <div align="right">
                                <button class="btn btn-primary btn-save saveBtn"
                                        tabindex="0" aria-label="A save button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="essay2" style="width: 420px; float: right;">
                    <!-- Slide 5 -->
                    <div class="activity-slide" data-slide="5" data-after="show">
                        <span class="learnosity-item"
                              data-reference="19NA05_c08_s06_exp1_int_exploration_04">
                        </span>
                        <div class="activity-slide" data-slide="5" data-after="hide">
                            <div align="right">
                                <button class="btn btn-primary btn-save saveBtn"
                                        tabindex="0" aria-label="A save button">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
