
<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA05_c08s06_exp1_int_exploration_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA05_c08s06_exp1_int_exploration_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA05_c08s06_exp1_int_exploration_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA05_c08s06_exp1_int_exploration_04.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA05_c08s06_exp1_int_exploration_05.mp3"></audio>
</div>

<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA05_c08s06_exp1_int_exploration_01_es.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA05_c08s06_exp1_int_exploration_02_es.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA05_c08s06_exp1_int_exploration_03_es.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA05_c08s06_exp1_int_exploration_04_es.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA05_c08s06_exp1_int_exploration_04_es.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">
        Use the model to find the sum.
        <span class="quill">1\frac{3}{4}</span> + <span class="quill">2\frac{1}{8}</span> = ?
    </div>
    <div class="slide-audio" data-slide="2">Click to shade sections of the model to show the sum of <span class="quill">1\frac{3}{4}</span> and <span class="quill">2\frac{1}{8}</span>.</div>

        <div class="slide-audio" data-slide="3">Fill in the blank with the sum of <span class="quill">1\frac{3}{4}</span> and <span class="quill">2\frac{1}{8}</span>. </div>
    <div class="slide-audio" data-slide="4">Explain how you can use a model to add the mixed numbers <span class="quill">1\frac{3}{4}</span> and <span class="quill">2\frac{1}{8}</span>.
    </div>
    <div class="slide-audio" data-slide="5">How can you add mixed numbers with unlike denominators without using a model? Explain why your method makes sense.</div>
</div>
