<div class="activity-content-area">
    <div class="row activity-row">

        <div class="col-sm-6" style="width:416px; height:auto;">
            <div class="activity-slide" data-slide="1" data-after="show">
                <div>
                    <span id="question1">Model the problem.</span>
                </div>
                <div>
                    <span>32 + 27 = ?</span>
                </div>
            </div>
            <div class="activity-slide" data-slide="2" data-after="show">

                <div class="drag-area">
                    <div class="understanding-overlay"></div>
                    <div class="drop-area1 drop-area">
                        <div class="drop-area-block1 drop-area-block drop-mat"
                             data-drop-left="2"
                             data-drop-top="2"
                             tabindex="0">
                        </div>
                    </div>
                </div>
                <div class="check-block1">
                    <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-6 text-left">
            <div class="activity-slide" data-slide="2" data-after="show">
                <div class="drag-bin draggable-items">
                    <div class="draggable-item tens-unit" tabindex="0">
                        <img src="../fv_common/images/tens_vertical.png"
                             alt="a tens block."
                             width="25" height="176"
                             class="img-fluid d-block">
                    </div>
                    <div class="draggable-item ones-unit" tabindex="0">
                        <img src="../fv_common/images/cube_blue.png"
                             alt="a ones block."
                             width="25" height="25"
                             class="img-fluid d-block">
                    </div>
                </div>
            </div>

            <div class="activity-slide" data-slide="4" data-after="hide">
                <div class="question">
                    <span class="learnosity-item" data-reference="19NA02_c04s01_exp1_int_exploration_1"></span>
                </div>
            </div>
            <div class="activity-slide" data-slide="4" data-after="show">
                <div class="answer">
                    <span class="learnosity-item" data-reference="19NA02_c04s01_exp1_int_exploration_1a"></span>
                </div>
            </div>
            <div class="activity-slide" data-slide="4" data-after="hide">
                <div class="check-block">
                    <button class="btn btn-secondary btn-check" id="check_btn" tabindex="0"
                            aria-label="A check answer button">
                        <i class="icon"></i>
                        <span>Check</span>
                    </button>
                    <button class="btn btn-secondary btn-try-again" id="try_btn" tabindex="0"
                            aria-label="A try again button">
                        <i class="icon"></i>
                        <span>Try Again</span>
                    </button>
                    <button class="btn btn-secondary btn-show-me" id="show_btn" tabindex="0"
                            aria-label="A show answer button">
                        <i class="icon"></i>
                        <span>Show Me</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>
