
<div class="audio-block english">
    <audio class="activity-audio" data-slide="1" src="audio/19NA02_c04s01_exgr_01.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA02_c04s01_exgr_02.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA02_c04s01_exgr_03.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA02_c04s01_exgr_04.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA02_c04s01_exgr_05.mp3"></audio>
</div>
<div class="audio-block spanish">
    <audio class="activity-audio" data-slide="1" src="audio/19NA02_c04s01_exgr_01_es.mp3"></audio>
    <audio class="activity-audio" data-slide="2" src="audio/19NA02_c04s01_exgr_02_es.mp3"></audio>
    <audio class="activity-audio" data-slide="3" src="audio/19NA02_c04s01_exgr_03_es.mp3"></audio>
    <audio class="activity-audio" data-slide="4" src="audio/19NA02_c04s01_exgr_04_es.mp3"></audio>
    <audio class="activity-audio" data-slide="5" src="audio/19NA02_c04s01_exgr_05_es.mp3"></audio>
</div>

<div class="activity-audio-caption captions">
    <div class="slide-audio" data-slide="1">Model the problem. Thirty-two plus twenty-seven equals what number?</div>
    <div class="slide-audio" data-slide="2">First model thirty-two.</div>
    <div class="slide-audio" data-slide="3">Now model twenty-seven.</div>
    <div class="slide-audio" data-slide="4">Complete the addition problem.</div>
    <div class="slide-audio" data-slide="5">How did the model help you to complete the addition problem?</div>
    <div class="slide-audio" data-slide="6"></div>
</div>
