
<div class="activity-start-screen">
    <div class="loader"></div>
    <a href="javascript:void(0)" class="start-btn" tabindex="1" title="A start button"
       style="display:none;"></a>
</div>

<div class="activity th-k-5">
    <div class="activity-wrapper"></div>

    <!-- This used to hold the Next and Done buttons,
         but they have been moved back down into the
         activity-navigation block.
         DELETE THIS IF NO FURTHER CHANGES ARE NEEDED.
    <div class="nav-area">
    </div>
    -->

    <div class="activity-navigation">

        <div class="activity-navigation-container clearfix">
            <!-- Left -->
            <div class="activity-navigation-container-left-elements">
                <span class="language-toggle closed">
                    <span lang-id="en" id="english-option" class="option active" tabindex="0"
                          aria-label="A button for English language">English</span>
                    <span lang-id="es" id="spanish-option" class="option" tabindex="0"
                          aria-label="A button shows options for English and Espanol language">Espanol</span>
                </span>
                <button class="btn btn-primary btn-vol btn-audio-on" tabindex="0"
                        aria-label="An audio button"></button>
                <button class="btn btn-primary btn-audio-caption btn-captions" tabindex="0"
                        aria-label="A caption button"></button>
            </div>

            <!-- Center -->
            <div class="text-center activity-navigation-container-center-elements">
                <button class="btn btn-primary btn-playpause btn-play" tabindex="0"
                        aria-label="A play pause toggle">
                    <i class="icon"></i>
                </button>
                <button class="btn btn-primary btn-next saveBtn" id="nex_btn" tabindex="0"
                        aria-label="A next button with a forward arrow">
                    Next
                    <i class="icon"></i>
                </button>
                <button class="btn btn-primary btn-done saveBtn" tabindex="0"
                        aria-label="A done button, with a tick mark">
                    Done
                    <i class="icon"></i>
                </button>
            </div>

            <!-- Right -->
            <div class="activity-navigation-container-right-elements">
                <button class="btn btn-primary btn-reset" tabindex="0"
                        aria-label="A reset button"></button>
            </div>
        </div>
        <div class="audio-wrapper"></div>
    </div>
</div>
